
.pokemonList {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    gap: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.pokemonImg {
    width: 100px;
}

.pokemon {
    background-color:rgb(182, 215, 235);
    border-radius: 30px;
    padding: 30px;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}